/dist
/node_modules
/.sonarlint
/*/*/eagle-dev.idc.tarento.com

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/extensions.json


env-qa.js
env-uat.js
env-dev.js
env-prod.js
env.js
env.json